* {
    box-sizing:border-box;
}

.slideshow-container {
    margin:auto;
    max-width:1000px;
    position:relative;
}

.mySlides {
    display:none;
}
.next, .prev {
    border-radius:0 3px 3px 0;
    color:#fff;
    cursor:pointer;
    font-size:18px;
    font-weight:700;
    margin-top:-22px;
    padding:16px;
    position:absolute;
    top:50%;
    transition:.6s ease;
    user-select:none;
    width:auto;
}

.next {
    border-radius:3px 0 0 3px;
    right:0;
}

.next:hover, .prev:hover {
    background-color:rgba(0,0,0,.8);
}

.text {
    bottom:8px;
    font-size:15px;
    text-align:center;
    width:100%;
}

.numbertext, .text {
    color:#f2f2f2;
    padding:8px 12px;
    position:absolute;
}

.numbertext {
    font-size:12px;
    top:0;
}

.dot {
    background-color:#bbb;
    border-radius:50%;
    cursor:pointer;
    display:inline-block;
    height:15px;
    margin:0 2px;
    transition:background-color .6s ease;
    width:15px;
}

.active, .dot:hover {
    background-color:#717171;
}

.fade {
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name:fade;
    animation-name:fade;
}

@-webkit-keyframes fade {
  0%{opacity:.4}
  to{opacity:1}
}

@keyframes fade {
  0%{opacity:.4}
  to{opacity:1}
}